body{
	background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 80%;
}

#banner{
    background-color: white;
    text-align: center;
   	margin: 0 auto;
}

#menu{
	background-color: #bdc3c7;
	float: left;
	border-style: solid;
    border-width: 5px;
    border-color: #606060;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-top: 50px;
}

a.button {
	font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a.button:hover{
	color: #f39c12;
}

#chatberichten{
	width: 500px;
    float: left;
    margin-left: 50px;
}

#chat{
	width: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

h3{
	float: right;
	font-size: 15px;
	border-style: solid;
    border-width: 2px;
    border-color: #2ecc71;
    border-radius: 5px;
    padding: 5px;
}

h4{
	float: left;
	font-size: 15px;
	border-style: solid;
    border-width: 2px;
    border-color: #3498db;
    border-radius: 5px;
    padding: 5px;
}

.addChatBerichten{
	float: right;
	font-size: 15px;
}

#inputChatBericht{
	font-size: 15px;
}

#chatPersoon{
	background-color: white;
	float: left;
	font-size: 22px;
	margin-left: 50px;
	margin-top: 50px;
}

#reactie{
	float: right;
	font-size: 15px;
}

.omschrijving{
	float: right;
	font-size: 15px;
	border-style: solid;
    border-width: 2px;
    border-color: #2ecc71;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

#vrienden{
	width: 250px;
	float: left;
	font-size: 15px;
	border-style: solid;
    border-width: 5px;
    border-color: #333;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    text-align: center;
}

p{
	font-size: 15px
}