body{
	background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 80%;
}

#banner{
    background-color: white;
    text-align: center;
   	margin: 0 auto;
}

#menu{
	background-color: #bdc3c7;
	float: left;
	border-style: solid;
    border-width: 5px;
    border-color: #606060;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-top: 50px;
}

a.button {
	font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a.button:hover{
	color: #f39c12;
}

.omschrijving {
	font-weight: bold;
	font-size: 15pt;
}

.likes {
	float: left;
	padding-right: 10px;

}
.bestelling, .messages {
	padding-bottom: 10px;
}

.message {

	float: left;
	padding-right: 10px;
}

.bestellingen {

}

.bestelling {
	border-style: solid;
    border-width: 3px;
    border-color: #606060;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px;

}

#fotoReeks{
	width: 300px;
	border-style: solid;
    border-width: 5px;
    border-color: #606060;
    border-radius: 5px;
    float: right;
    margin-right: 25px;
    margin-top: 50px;
}

#tijdlijn{
	width: 450px;
	float: left;
	padding-left: 50px;
	margin-top: 50px;
}

.messages{
	border-style: solid;
    border-width: 3px;
    border-color: #f39c12;
    border-radius: 3px;
    padding: 5px;
}

